{% extends 'template.html.twig' %}


{% block form %}
    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Edit Categories</h3>


    {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('categories_index') }}">back to list</a>

    {{ include('categories/_delete_form.html.twig') }}
    </div>
{% endblock %}
