{% extends 'template.html.twig' %}

{% block form %}
    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Create new Categories</h3>
    </div>

    {{ include('categories/_form.html.twig') }}

    <div style="text-align: center;">

        <a class="btn btn-secondary" href="{{ path('categories_index') }}">back to list</a>
    </div>

{% endblock %}
