{% extends 'template.html.twig' %}

{% block title %}New Evennement{% endblock %}

{% block form %}

    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Create new Evennement</h3>
    </div>

    {{ include('evennement/_form.html.twig') }}

    <div style="text-align: center;">
        <a class="btn btn-secondary" href="{{ path('evennement_index') }}">back to list</a>
    </div>
{% endblock %}