{% extends 'template.html.twig' %}


{% block form %}

    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Nouveau Blog</h3>
    </div>

    {{ include('blog/_form.html.twig') }}
    <div style="text-align: center;">

        <a class="btn btn-secondary" href="{{ path('blog_index') }}">Liste des blogs</a>
    </div>
{% endblock %}
