{% extends 'templateClient.html.twig' %}

{% block title %}Ajouter une reclamation{% endblock %}

{% block form %}
    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Create new Reclamation</h3>
    </div>


    <h4>Ajouter une reclamation</h4>

    {{form(form)}}


{% endblock %}