<form method="post" action="{{ path('categorie_produit_delete', {'idcategorie': categorie_produit.idcategorie}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_produit.typecategorie) }}">
    <button class="btn">Delete</button>
</form>
