{% extends 'template.html.twig' %}
{% block form %}

<!DOCTYPE html>

<title>New CategorieProduit</title>

{% block body %}
    <div style="text-align: center;">
    <h1 class="m-0 font-weight-bold text-primary">Create new CategorieProduit</h1>
    </div>

    {{ include('categorie_produit/_form.html.twig') }}
    <div style="text-align: center;">
    <a class="btn btn-secondary" href="{{ path('categorie_produit_index') }}">back to list</a>
    </div>
{% endblock %}
{% endblock %}