{% extends 'templateProp.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block form %}
    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Create new Cours</h3>
    </div>

    {{ include('Prop/_formCours.html.twig') }}
    <div style="text-align: center;">

    </div>
{% endblock %}
