{% extends 'templateProp.html.twig' %}

{% block form %}
    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Create new Categories</h3>
    </div>

    {{ include('Prop/_formCategorie.html.twig') }}

    <div style="text-align: center;">

    </div>

{% endblock %}
