{% extends 'templateProp.html.twig' %}

{% block title %}New Evennement{% endblock %}

{% block form %}

    <div style="text-align: center;">
        <h3 class="m-0 font-weight-bold text-primary">Create new Evennement</h3>
    </div>

    {{ include('Prop/_formEvenement.html.twig') }}

    <div style="text-align: center;">
    </div>
{% endblock %}