{% extends 'templateProp.html.twig' %}

{% block title %}New Salle de Sport{% endblock %}

{% block form %}
    <div style="text-align: center;">
        <h3>Create new Salle de Sport</h3>
    </div>

    {{ include('Prop/_formSalle.html.twig') }}
    <div style="text-align: center;">

    </div>
{% endblock %}
