<form method="post" action="{{ path('cours_delete', {'idCours': cour.idCours}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cour.idCours) }}">
    <br>
    <div style="text-align: center;">
    <button class="btn btn-danger">Delete</button>
    </div>
</form>
